
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    background-color: #fff;
    background-color: #e8e1f0;
}

html {
    scroll-behavior: smooth;
}

.menu {
    background-color: white;
    background: rgba(255, 255, 255, 0.5);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    padding: 1em 7em;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    flex: 1;
}

.links a {
    text-decoration: none;
    color: black;
    margin-left: 2em;
}

.links button {
    padding: .5em 1em;
    box-sizing: border-box;
    background-color: #ddd;
    color: rebeccapurple;
    border-radius: .3em;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .04em;
    cursor: pointer;
    display: none;
}

.con {
    padding: 1em 0em;
    box-sizing: border-box;
    margin-top: 4em;
}

.home {
    display: flex;
    align-items: center;
    padding: 3em 7em;
    /* margin-bottom: 4em; */
    
}

.text, .image {
    flex: 1;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rebeccapurple; */
}

.home img {
    border-radius: 1.5em;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.home .text {
    padding-right: 2em;
    box-sizing: border-box;
}

.text h1 {
    font-size: 3.4em;
}

.text p {
    font-size: 1.1em;
    margin: .5em 0 1em 0;
    line-height: 1.4em;
    color: #444;
    line-height: 1.6em;
}

.text a {
    text-decoration: none;
    color: white;
    background-color: rgb(55, 9, 102);
    background: linear-gradient(135deg, rebeccapurple, rgb(55, 9, 102), black);
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5em;
    display: inline-block;
    animation: zoom 1.3s ease infinite;
}

@keyframes zoom {
    0%, 100% {
        transform: scale(1);
        background-color: rgb(55, 9, 102);
    }

    50% {
        transform: scale(1.1);
        background-color: rgb(55, 9, 102);
    }
}


.feat {
    /* padding: 6em 0; */
    padding-top: 6em;
    box-sizing: border-box;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.header p {
    font-size: 1.1em;
}

.header h2 {
    text-align: center;
}

/* feature style */

.feature {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    /* margin-bottom: 4em; */
    padding: 3em 7em;
    /* padding-top: 3em; */
}

.featurerev {
    flex-direction: row-reverse;
}

.text, .image {
    flex: 1;
}

.feature .text {
    padding-right: 4em;
    box-sizing: border-box;
}

.featurerev .text {
    padding-right: 0em;
    padding-left: 4em;
    box-sizing: border-box;
}

.feature .text h1 {
    font-size: 2em;
}

.text p {
    font-size: 1.1em;
    margin: .5em 0 1em 0;
    line-height: 1.4em;
    color: #444;
    line-height: 1.6em;
}

.text a {
    text-decoration: none;
    color: white;
    background-color: rebeccapurple;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5em;
    display: inline-block;
}

.num {
    background-color: rebeccapurple;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 10em;
    margin-bottom: .5em;
}

.num h4 {
    color: white;
}


/* end */

.reviews {
    /* padding: 6em 0; */
    padding: 0 7em;
    background-color: rgb(188, 144, 231);
    padding-top: 6em;
    box-sizing: border-box;
    
}

.revhead p {
    font-size: 2.3em;
}

.revcon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 1em 0;
    
}

.revbox {
    width: calc(33.8% - 20px);
    padding: .7em 0em;
    box-sizing: border-box;
    border-top: 2.5px solid black;
    margin: .3em 0;
}

.revbox p {
    line-height: 1.8em;
    color: #000;
}

.about {
    /* padding: 2em 0; */
    padding: 0 7em;
    padding-top: 6em;
    padding-bottom: 3em;
    box-sizing: border-box;
    background-color: rgb(55, 9, 102);
    /* border: 2px solid red; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

.header p {
    font-size: .95em;
    color: rebeccapurple;
    background-color: rgb(212, 193, 231);
    padding: .3em .7em;
    box-sizing: border-box;
    border-radius: .3em;
    margin-bottom: .5em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .03em;
}

.header p.nostyle {
    /* font-weight: bold; */
    font-size: 1em;
    background-color: #e8e1f0;
    background-color: rgb(55, 9, 102);
    margin-bottom: 0;
    color: rgb(164, 104, 224);
}

.about .header h2 {
    color: white;
    font-size: 1.9em;
}

.header p.desc {
    font-size: 1em;
    background-color: #e8e1f0;
    background-color: rgb(55, 9, 102);
    text-align: center;
    font-weight: normal;
    color: #fff;
    text-transform: none;
    width: 70%;
    margin: 1em 0;
}

.aboutcon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 1em 0;
}

.aboutbox {
    width: calc(25.4% - 20px);
    padding: 2em 1em;
    box-sizing: border-box;
    border-radius: .3em;
    margin: .3em 0;
    background-color: rgb(24, 2, 46);
}

.aboutbox:nth-child(1) {
    border-top: 2px solid rgb(30, 209, 30);
}

.aboutbox:nth-child(1) h3 {
    color: rgb(30, 209, 30);
}

.aboutbox:nth-child(2) {
    border-top: 2px solid rgb(209, 81, 30);
}

.aboutbox:nth-child(2) h3 {
    color: rgb(209, 81, 30);
}

.aboutbox:nth-child(3) {
    border-top: 2px solid rgb(241, 11, 153);
}

.aboutbox:nth-child(3) h3 {
    color: rgb(241, 11, 153);
}

.aboutbox:nth-child(4) {
    border-top: 2px solid rgb(30, 209, 194);
}

.aboutbox:nth-child(4) h3 {
    color: rgb(30, 209, 194);
}

.aboutbox h3 {
    font-size: 1.9em;
    text-align: center;
}

.aboutbox p {
    line-height: 1.6em;
    color: white;
    font-size: 1em;
    text-align: center;
}


.contact {
    padding: 2em 7em;
    padding-top: 6em;
    padding-bottom: 3em;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header p {
    font-size: .9em;
    color: rebeccapurple;
    background-color: rgb(212, 193, 231);
    padding: .3em .7em;
    box-sizing: border-box;
    border-radius: .3em;
    margin-bottom: .5em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .03em;
}

.contcon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 1em 0;
}

.contbox {
    width: calc(25.4% - 20px);
    padding: 1em;
    box-sizing: border-box;
    border-radius: .3em;
    /* box-shadow: 1px 1px 10px rebeccapurple; */
    margin: .3em 0;
    border: 2px solid rebeccapurple;
    /* background-color: white; */
}

.contbox p {
    line-height: 1.6em;
    color: #000;
    font-size: .9em;
}

.contbox a {
    line-height: 1.6em;
    color: #000;
    font-size: .9em;
}


div.menubox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.411);
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

div.menupage {
    padding: 1em;
    box-sizing: border-box;
    background-color: white;
    border-radius: 1em;
    /* width: 35%; */
    max-width: 90%;
    /* max-width: 90%; */
}

.menupage p {
    margin: .8em 0;
    font-weight: 400;
    line-height: 1.1em;
}

.menupage button {
    padding: .8em 5em;
    box-sizing: border-box;
    border-radius: .3em;
    color: black;
    text-transform: uppercase;
    display: block;
    text-align: center;
    border: none;
    width: 100%;
    cursor: pointer;
    letter-spacing: .1em;
    font-size: .96em;
    margin: 1em 0;
}

.menupage button:last-child {
    background-color: black;
    color: white;
    font-weight: bold;
}


@media (max-width: 1200px) {
    .home, .about, .feature, .reviews, .menu, .contact {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media (max-width: 1000px) {
    .home, .feature {
        flex-direction: column;
    }

    .home .text, .feature .text {
        padding: 0;
    }

    .featurerev .text {
        padding: 0;
    }

    .image {
        margin-top: 2em;
    }

    .links a {
        display: none;
    }

    .links button {
        display: block;
    }

    .logo h1 {
        font-size: 1.5em;
    }

    /* div.feat, div.reviews, div.about {
        padding-top: 2em;
    } */
}


@media (max-width: 900px) {
    .featbox, .revbox, .aboutbox, .contbox {
        width: calc(51% - 20px);
    }
}

@media (max-width: 700px) {
    /* .image img {
        width: 400px;
        height: 300px;
        display: none;
    } */

    .text h1 {
        font-size: 2.1em;
    }
}

@media (max-width: 600px) {
    .home, .about, .feature, .reviews, .menu, .contact {
        padding-left: 1em;
        padding-right: 1em;
    }

    div.header p.desc {
        width: 100%;
    }

    .logo h1 {
        font-size: 1.3em;
    }

    .feat, .reviews, .about {
        gap: 0px;
    }

    .featbox, .revbox, .aboutbox, .contbox {
        width: 100%;
    }
}